* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
  scroll-behavior: auto;
}
section{
  padding: 30px 0;
}
.max-width{
  margin: auto;
  padding: 0 80px;
  max-width: 1400px;
}

.about,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}


.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 30px;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  position:relative;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s ease;
  position: sticky;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #0d0e0d;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  background: linear-gradient(135deg, #f90303, #05f519, rgb(46, 2, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #4117bd;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  background-color: #7be76be6;
  color: #6c00fa;
  box-shadow: 0 0 10px #7be76be6;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* Menu Part------------------- */

.m_between {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}


.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #1e3551;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}


/* Home Part --------------*/ 
.home {
  display: flex;
  background: url("https://source.unsplash.com/720x600/?dark,patern") no-repeat
    center;
  height: 30vh;
  color:rgb(250, 250, 250);
  min-height: 150px;
  background-size: cover;
  background-attachment: fixed;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  margin-top: 3px;
  font-size: 27px;
}


.home .home-content .text-2 {
  font-size: 50px;
  font-weight: 600;
  margin-left: auto;
}

/* About Me Part ------------------ */
.about {
  background: radial-gradient(#e1efff, white);
}

.about .about-content .left {
  width: 40%;
}
.about .about-content .left img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  border-radius: 20px;
}
.about .about-content .right {
  width: 60%;
}

.about .about-content .right .text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 0;
  margin-bottom: 10px;
}
.about .about-content .right p {
  text-align: justify;
}

/* Skills Part ------------------------- */
.skills {
  background: radial-gradient(#e1efff, white);
}
.skills .skills-content .column {
  width: calc(50% - 30px);
}

.skills .skills-content .left .text {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}
.skills .skills-content .left p {
  text-align: justify;
}

.skills .skills-content .right img {
  height: 400px;
  width: 400px;
  object-fit: contain;
  margin-right: auto;
}

.job,
.project {
  list-style: none;
}
.job::before,
.project::before {
  content: "🦖 ";
  color: #1e3551;
}

/* Project Part */
.projects {
  background: radial-gradient(#e1efff, white);
}
.projects .p_content{
  display:inline-flex;

}
.projects .p_content .card {
  width: calc(33% - 10px);
  background: #adccf46c;
  text-align: center;
  border-radius: 10px;
  padding: 50px 50px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.projects .p_content .card:hover {
  background: #f59d068f;
  width: max-content;
}

.projects .p_content .card .box {
  transition: all 0.3s ease;
}
.projects .p_content .card:hover .box {
  transform: scale(1.15);
}

.projects .p_content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 5px 0 5px 0;
}

.projects .p_content .card img {
  height: 300px;
  width: 300px;
  object-fit: fill;
  border-radius: 20px;
}
/* Contact Me ------------------------------------------------ */

.contact {
  background: radial-gradient(white ,#e1efff);
}
.contact .c_content .left {
  width: 50%;
}

.contact .c_content .left .text {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.contact .c_content .left p {
  text-align: justify;
}

.contact .c_content .row {
  display: flex;
  height: 65px;
  align-items: center;
}

.contact .c_content .row .info {
  margin-left: 40px;
}
.contact .c_content .info .headr {
  font-weight: 600;
  font-style: oblique;
  font-display: block;
  color: #000;
}
.contact .c_content .info .sub-title {
  color: #333;
}
.headr::before {
  content: " 🦕 ";
  color: #1e3551;
}

/* Social Icons Part ------------------------------------------*/
.social-menu ul {
  position: absolute;
  left: 60%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}


.social-menu ul li {
  list-style: none;
  margin: 0 25px;
}

/*
.social-menu ul li .fa {
  font-size: 30px;
  line-height: 60px;
  transition: 0.6s;
  color: #000000;
}
*/

.social-menu ul li a {
  left: 0px;
  right: 12px;
  padding-top: 3px;
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #b0c6dc;
  text-align: center;
  transition: 0.6s;
  box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);
}


.social-menu ul li a:hover {
  transform: translate(0, -10px);
}


.social-menu ul li:nth-child(1) a:hover {
  background-color: #131418;
}


.social-menu ul li:nth-child(2) a:hover {
  background-color: #0a66c2;
}


.social-menu ul li:nth-child(3) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #1da1f2;
}

.social-menu ul li:nth-child(5) a:hover {
  background-color: #e33054;
}

.social-menu ul li:nth-child(6) a:hover {
  background-color: #fc4f08;
}

.fa-brands {
  color: #fff;
}



/* Footer Part ------------------ */
footer {
  background: #111;
  padding: 6px 16px;
  color: #888c8d;
  text-align: center;
}
footer span a {
  color: #ffea02;
  text-decoration: none;
}

footer span a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  main,
  nav {
    flex-direction: column;
  }
}