* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html{
  scroll-behavior: auto;
}
section{
  padding: 100px 0;
}
.max-width{
  margin: auto;
  padding: 0 80px;
  max-width: 1400px;
}

.about,
.skills,
.projects,
.contact,
footer {
  font-family: "Poppins", sans-serif;
}


.about .about-content,
.skills .skills-content,
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}


section .title {
  position: relative;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 60px;
  padding-bottom: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.navbar {
  position:relative;
  width: 100%;
  z-index: 999;
  padding: 30px 0;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: all 0.3s ease;
}

.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar .logo a {
  color: #0d0e0d;
  font-size: 35px;
  font-weight: 600;
}
.navbar .logo a span {
  background: linear-gradient(135deg, #f90303, #05f519, rgb(46, 2, 245));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease;
}

.navbar .menu li {
  list-style: none;
  display: inline-block;
}

.navbar .menu li a {
  display: block;
  color: #4103fa;
  font-size: 20px;
  font-weight: 500;
  margin-left: 25px;
  transition: color 0.3s ease;
}

.navbar .menu li a:hover {
  color: #fafa00;
}

.navbar.sticky .menu li a:hover {
  color: #fff;
}

/* Menu Part------------------- */

.m_between {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}


.scroll-up-btn {
  position: fixed;
  height: 45px;
  width: 42px;
  background: #1e3551;
  right: 30px;
  bottom: 10px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  z-index: 9999;
  font-size: 30px;
  border-radius: 6px;
  border-bottom-width: 2px;
  cursor: pointer;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}


/* Home Part --------------*/ 
.home {
  display: flex;
  background: url("https://source.unsplash.com/720x600/?dark,patern") no-repeat
    center;
  height: 10vh;
  color:rgb(250, 250, 250);
  min-height: 50px;
  background-size: cover;
  background-attachment: fixed;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.home .max-width {
  width: 100%;
  display: flex;
}

.home .max-width .row {
  margin-right: 0;
}

.home .home-content .text-1 {
  margin-top: 3px;
  font-size: 27px;
}


.home .home-content .text-2 {
  font-size: 50px;
  font-weight: 600;
  margin-left: auto;
}

/* About Me Part ------------------ */
.about {
  background: radial-gradient(#e1efff, white);
}

.about .about-content .left {
  width: 45%;
}
.about .about-content .left img {
  height: 300px;
  width: 300px;
  object-fit: fill;
  border-radius: 20px;
}
.about .about-content .right {
  width: 55%;
}

.about .about-content .right .text {
  font-size: 30px;
  font-weight: 600;
  margin-left: 0;
  margin-bottom: 10px;
}




/* Social Icons Part ------------------------------------------*/

.social-menu ul {
  position: absolute;
  left: 20%;
  padding: 0;
  margin: 0;
  transform: translate(-50%, -50%);
  display: flex;
}
.social-menu ul li {
  list-style: none;
  margin: 0 15px;
}
.social-menu ul li .fa{
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}




